Repository iamanishsrivastava/TaskParser, changes with the labels that .github/labeler.yml gives for each.
All labels: components, context, hooks, pages, utils, tests, frontend

Create LICENSE
  LICENSE
Labels: none

Scroll-animated parser showcase
  src/components/Landing/ParserShowcase.tsx
Labels: components, frontend

Design Architecture Section
  src/components/Landing/UnderTheHood.tsx
Labels: components, frontend

feat: Call to Action with animations
  src/components/Landing/Navbar.tsx
  src/pages/Landing.tsx
  src/pages/Login/Login.tsx
Labels: components, pages, frontend

feat: Landing page responsive polish
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/vite.svg
  src/App.tsx
  src/components/Landing/Features.tsx
  src/components/Landing/FloatingProblemBanner.tsx
  src/components/Landing/ParserShowcase.tsx
  src/components/ui/tooltip.tsx
Labels: components, frontend

fix(types): explicitly type children in PrivateRoute to resolve TS7031
  src/components/PrivateRoute.tsx
Labels: components, frontend

docs: add minimal responsive docs page with GitHub and home links, no emojis
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/ui/tabs.tsx
  src/pages/Docs/Docs.tsx
Labels: components, pages, frontend

fix: add SPA fallback rewrite to resolve 404 on /docs route in Vercel deployment
  vercel.json
Labels: none

feat(auth): add MagicLink auth middleware with user auto-creation in DB
  server/package.json
  server/pnpm-lock.yaml
  server/src/db/schema.sql
  server/src/middlewares/magicAuth.ts
  server/src/routes/tasks.mts
  server/src/types/express.d.ts
  server/src/utils/magic.ts
Labels: none

feat: Replace existing local storage with server side db and backend setup
  client/components.json
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/Projects/DeleteProjectInline.tsx
  client/src/components/Projects/ProjectNameInline.tsx
  client/src/components/Tasks/AddTaskInput.tsx
  client/src/components/Tasks/TaskList.tsx
  client/src/components/ui/checkbox.tsx
  client/src/context/AppProvider.tsx
  client/src/context/AuthProvider.tsx
  client/src/context/TasksProvider.tsx
  client/src/hooks/useAuthFetch.ts
  client/src/hooks/useProjectsHook.ts
  client/src/hooks/useTasksHook.ts
  client/src/index.css
  client/src/pages/Dashboard/Dashboard.tsx
  client/src/pages/Login/Login.tsx
  client/src/pages/magic-callback.tsx
  client/src/src/components/ui/checkbox.tsx
  client/src/types/models.ts
  client/tsconfig.json
  client/vite.config.ts
Labels: none

update validators
  server/.vscode/extensions.json
  server/.vscode/settings.json
  server/package.json
  server/pnpm-lock.yaml
  server/src/index.mts
  server/src/middlewares/magicAuth.ts
  server/src/middlewares/validate.ts
  server/src/routes/projects.mts
  server/src/routes/tasks.mts
  server/src/types/model.ts
  server/src/utils/db.mts
  server/src/validators/task.ts
Labels: none

Delete client/src/src/components/ui/checkbox.tsx
  client/src/src/components/ui/checkbox.tsx
Labels: none

feat: add ragParseTask placeholder function on server
  server/services/ragParseTask.ts
  server/src/index.mts
Labels: none

refactor: remove parseTask usage from client hook
  client/src/hooks/useTasksHook.ts
Labels: none

feat: integrate server-side parsing using RAG in task creation
  server/package.json
  server/pnpm-lock.yaml
  server/services/ragParseTask.ts
  server/src/routes/tasks.mts
  server/src/services/ragParseTask.mts
  server/src/utils/extractDate.mts
  server/src/utils/extractPriority.mts
Labels: none

chore: add /api/parse endpoint to test parsing only
  server/src/index.mts
  server/src/routes/parse.mts
Labels: none

feat: Integrate smart parsing using RAG with token limit
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/EditableText.tsx
  client/src/components/Landing/ParserShowcase.tsx
  client/src/components/Tasks/TaskList.tsx
  client/src/components/ui/calendar.tsx
  client/src/components/ui/popover.tsx
  client/src/hooks/useTasksHook.ts
  client/src/lib/fetchParseTask.ts
  client/src/services/parser/parseTask.ts
  client/src/types/ParsedTask.ts
  client/src/utils/extractDate.ts
  client/src/utils/extractPriority.ts
  client/tsconfig.app.json
  server/package.json
  server/pnpm-lock.yaml
  server/src/db/schema.sql
  server/src/routes/parse.mts
  server/src/routes/tasks.mts
  server/src/services/kbMatcher.mts
  server/src/services/parseTask.mts
  server/src/services/rag/ragExamples.mts
  server/src/services/rag/ragInstructions.mts
  server/src/services/rag/ragParseTask.mts
  server/src/services/ragParseTask.mts
  server/src/services/smartParseTask.mts
  server/src/services/taskLearner.mts
  server/src/types/ParsedTask.ts
  server/src/types/model.ts
  server/src/utils/extractDate.mts
  server/src/utils/extractPriority.mts
  server/src/utils/similarity.mts
Labels: none

test: vercel configuration
  client/vercel.json
  client/vite.config.ts
Labels: none

fix: remove open its never used and incl dependency date-fns
  client/src/components/Tasks/TaskList.tsx
Labels: none

fix: vercel configuration
  client/tsconfig.app.json
  server/src/services/parseTask.mts
  vercel.json
Labels: none

fix: routes rewrites for api source to backend api
  vercel.json
Labels: none

Feat: Include environment production based auth fetch
  client/src/hooks/useAuthFetch.ts
  client/vercel.json
Labels: none

fix: add SPA fallback rewrite in vercel.json to handle client-side routes like /magic-callback
  vercel.json
Labels: none

.github/labeler.yml:

components:
  - 'src/components/**/*'

context:
  - 'src/context/**/*'

hooks:
  - 'src/hooks/**/*'

pages:
  - 'src/pages/**/*'

utils:
  - 'src/utils/**/*'

tests:
  - 'src/tests/**/*'

frontend:
  - 'src/**/*'
